#bus-display {
    margin-top: 4.5em;
    margin-bottom: 5em;
}

#bus-list-container {
    padding-top: 0.5em;
    /* margin-left: 1em; */
    /* margin-right: 1em; */

    background-color: var(--mantle);
    border-radius: 1em;
}

#bus-list {
    list-style: none;
    content: flex;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;

    border-collapse: collapse
}

.location-name {
    color: var(--green);
    text-overflow: break;
}

.location-code {
    color: var(--lavender);
    text-align: right;
}

#bus-list tbody tr {
    border-bottom: 1px solid var(--lavender);
}

#bus-list tbody tr:last-child {
    border-bottom: none;
}

#bus-list td {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
