:root {
    --crust: #11111b;
    --base: #1e1e2e;
    --mantle: #181825;
    --lavender: #b4befe;
    --text: #c6d0f5;
    --mauve: #cba6f7;
    --green: #a6e3a1;
    --red: #f38ba8;

    background-color: var(--base);
    color: var(--text);
    font-family: 'Segoe UI', "Courier New", Helvetica;
    font-weight: bold;
}
