#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(30, 30, 46, 0.7); /* --base */
    backdrop-filter: blur(0.5em);
    text-align: center;
    color: var(--mauve);
    height: 4em;
    
    /* WebView specific fixes */
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    perspective: 1000px;
    -webkit-perspective: 1000px;
}

#navbar a {
    color: inherit; /* inherits the color from parent */
    text-decoration: none; /* removes underline */
}

#navbar a:hover {
    text-decoration: underline;
}

#navbar a:visited {
    color: inherit; /* keeps same color after visiting */
}
