#text-input-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5em;
    display: flex;
}

#text-input-container form {
    display: flex;
    width: 100%;
}

#text-input {
    flex-grow: 1;
    box-sizing: border-box;
}

.inputs {
    border: solid var(--lavender);
    color: var(--text);
    display: border-box;
    border-radius: 1em;
    height: 3em;
    /* margin: 0.25em; */
    background-color: var(--mantle);
    text-indent: 1em;
    font-size: 1.2em;
    background-color: rgba(30, 30, 46, 0.7); /* --base */
    backdrop-filter: blur(0.5em);

    /* WebView specific fixes */
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    perspective: 1000px;
    -webkit-perspective: 1000px;

}

input:focus {
    outline: none;
    border: solid var(--mauve);
}
